<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
<h1 class="display-4">Welcome to the <%= title %> page</h1>
      
<%- include partials/bottom_nav.ejs %>  
<p>I want to be ready to develop technology that has not existed. I want to learn more about coding and useful software that is able to prepare my journey to be in this 21st-century industry. 
      
</p>
<p>Since I am into creating new products in software for solving issues in daily life. Therefore, this program is excellent for me.</p>
<p>My goal is to do internship jobs in big tech companies like Google, Amazon, LinkedIn, and more. 
</p>
<%- include partials/footer.ejs %>