<!--
File: error.ejs
Student Name: Manvibolreach Ouk
Student ID: 301224112
Date: October 01, 2022
-->


<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<!--main part-->
<div class="container">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>